.home-background{
    background:url("../Img/homebackground.jpg") no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -10;
    position: fixed;
    opacity: 0.7;
}
#home{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-container{
    width: 70%;
    margin-top: 5vh;
    background: rgba(255, 255, 255, .8);
    border:2px solid var(--primary) ;
    border-radius: 10px;
    position: relative;
}
.logo-home{
    background: url("../Img/full\ logo.PNG")no-repeat center center/cover;
    top: 0;
    left: calc(50% - 70px);
    width: 140px;
    height: 140px;
    border-top-left-radius: inherit;
}
#home h1{
    font-size: 2rem;
    margin: 1rem;
}
.content{
    background: rgba(92, 153, 207, 0.329);
    text-align: justify;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2rem;
}
.content span{
    display: inline !important;
    color: var(--primary);
    font-weight: 700;
}
.social-media{
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    justify-content: space-around;
    grid-row: 18;
    flex-direction: column;
}
.social-media>div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 80%;
}
.social-media i{
    font-size: 2.5rem;
    transition: all 0.3s ease;
    color:var(--primary);
    width:100%;
    height: 100%;

}
.social-media a:hover,
.social-media a:hover>*{
    transition: all 0.3s ease;
    transform: scale(1.08);
    color:purple !important;
}
.social-media a{
    display: block;
}
.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rawi{
    justify-self: flex-end;
    /* width: 35%; */
}
.ameer{
    
    justify-self: flex-start;
}
.ameer h3,.rawi h3{
    color: var(--primary);
    border-radius: 4px;
}
.hiOrLog{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin: 1rem;
    color: var(--primary);

}
.hiOrLog a{
    text-decoration: none;
    color: var(--primary);
}

@media (max-width:830px) {
    .home-container{width: 100%;}
    .social-media>div{
        flex-direction: column;
    }
}
