.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 2rem;
  border-radius: 10px;
  font-weight: 700;
}

.left-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  background: rgb(253, 253, 253);
  border-radius: 10px;
  padding: 2rem;
  font-size: 1.15rem;
}

.balance {
  display: flex;
  justify-content: space-between;
  background: rgb(13, 69, 181);
  padding: 1rem 2rem;
  margin: 1rem 0;
  width: 350px;
  border-radius: 10px;

  align-items: center;
}
.balance div {
  display: flex;
  flex-direction: column;
}
.credit-limit {
  background: #1fa2ec;
  padding: 1rem 2rem;
  margin: 1rem 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.card-info {
  padding: 1rem 2rem;
  margin: 1rem 0;
  border-radius: 10px;
  background: #3cc0d5;
  text-align: center;
}
h3 {
  font-size: 2rem;
  color: rgb(49, 47, 47);
}
.card-info ul {
  list-style-type: none;
  margin: 2rem 0;
  width: 100%;
  height: 100%;
}
.card-info ul li {
  width: 100%;
  display: flex;
  margin: 1rem 0;
  border-bottom: 1px solid white;
  padding: 1rem 0;
  justify-content: space-between;
}
.limit {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.progress-before {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  background: blue;
  height: 100%;
  border-radius: inherit;
}
.progress {
  border-radius: 5px;
  width: 50px;
  height: 20px;
  position: relative;
  background: gray;
  overflow-x: hidden;
}
.active {
  border: none;
  border-radius: 10px;
  font-size: 1.15rem;
  color: white;
  padding: 1rem;
  background: var(--primary);
  cursor: pointer;
  margin: .2rem;
}
.active:hover {
  box-shadow: 2px 3px 5px gray;
  transform: scale(1.05);
}

.right-content {
  background: white;
  width: 100%;
  margin: 0 1.5rem;
  border-radius: 10px;
  padding: 2rem;
  font-size: 1.15rem;
}
.right-content h2 {
  color: #000;
  text-align: center;
}

.right-content {
  color: black;
}
.right-content ul {
  list-style-type: none;
  padding: 1rem;
}
.right-content ul li {
  display: flex;
  justify-content: space-between;

  margin: 1rem 0;
}
.right-content .last-transactions li:first-child {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  color: gray;
  text-decoration: underline;
}

.lists {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
}
.lists ul {
  width: 40%;
  margin: 1rem 0;
}

.lists .last-transactions {
  max-height: 300px;
  width: 100%;
  overflow-y: auto;
}
.lists .last-transactions li {
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
.lists .last-transactions li span{
  margin:0 10px;
}
#select{
  border: 1px solid black ;
  border-radius: 5px;
}

#select,
option {
  width: 50%;

  margin: 0 auto;
  padding: 0.25rem;
  background: transparent;
  display: block;
  outline: none;
}
.lists .rev-exp {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.lists .rev-exp li {
  display: flex;
  flex-direction: column;
  text-align: center;
}


.lists .rev-exp li .title {
  color: gray;
  margin: 0.5rem 0;
  font-size: 1.5rem;
}
.lists .rev-exp li .avg-price {
  color: blue;
}



#status{
  animation: statusChange 1s ease;
}
#status1{
  animation: statusChange2 1s ease;
}
@keyframes statusChange2 {
  0%{
    background: white;
    border-radius: 1px;
  }
  100%{
    background: none;
    border-radius: 1px;
  }
}
@keyframes statusChange {
  0%{
    background: white;
    border-radius: 1px;
  }
  100%{
    background: none;
    border-radius: 1px;
  }
}

@media (max-width: 900px) {
  body {
    background: #000;
  }
  .last-transactions,
  .last-transactions span{
    font-size: .7rem !important;
  }
  .removeQuery{
    display: none;
  }
  .lists .last-transactions li {
    grid-template-columns: repeat(3,1fr);
    font-size: 1.4rem;
  }
  .list .last-transactions{
    width: 100%;
  }
  .last-transactions li span{
    width: 30%;
  }
  .lists .rev-exp{
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width:1100px) {
    .container{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .container>*{
      width: 80vw;
      margin: 1rem;
    }
    .balance{
      align-self:center ;
      width: 100%;
      flex-direction: column;
    }
    .credit-limit{
      flex-direction: column;
      text-align: center;
    }
    .progress-content{
      display: flex;
      flex-direction: row !important;
    }
    .progress-content>*{
      margin: 4px;
    }

}
